In [1]:
#
#
#Cargar todas las librerías necesarias
#

import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
#
#
#Definición de directorio de trabajo#
#

import os
apphome = 'C://Users/pablo/Documents/uniandes/big data y machine learning/git-and-github-fundamentals-pablocort/problem_set_1'
os.chdir(apphome)
data_home = 'C://Users/pablo/Documents/uniandes/big data y machine learning/git-and-github-fundamentals-pablocort/problem_set_1/stores'
os.chdir(data_home)

In [3]:
#
#
# Cargar base de datos
#

housing = pd.read_csv('co_properties.csv')

In [4]:
#
#
#Crear variables de precio por metro 2
#

housing['price_metro2'] = housing['price'] / housing['surface_total']

housing['price_metro2_cover'] = (housing['price'] / housing['surface_covered'])

housing.count()

id                    878103
ad_type               878103
start_date            878103
end_date              878103
created_on            878103
lat                   743969
lon                   743969
l1                    878103
l2                    878103
l3                    801092
l4                    305314
l5                    171341
l6                     57236
rooms                 258729
bedrooms              332720
bathrooms             736201
surface_total         308817
surface_covered       259213
price                 869650
currency              869414
price_period           25879
title                 878064
description           878048
property_type         878103
operation_type        878103
price_metro2          304561
price_metro2_cover    256549
dtype: int64

In [5]:
housing.head()

In [6]:
housing.isna().sum()

In [9]:
data_housing = housing.dropna(subset= ['price', 'currency', 'l3'])

In [7]:
data_housing.isna().sum()

In [10]:
data_housing['l3'].value_counts()

Bogotá D.C             197806
Medellín               102205
Cali                    76870
Barranquilla            73250
Manizales               36726
                        ...
Cuítiva                     1
Vista Hermosa               1
Ráquira                     1
Luruaco                     1
San Juan Nepomuceno         1
Name: l3, Length: 358, dtype: int64

In [ ]:
data_housing[(data_housing['l3'] == 'Bogotá D.C') | (data_housing['l3'] == 'Cali') | (data_housing['l3'] == 'Medellín')]

In [31]:
housing[['rooms','bedrooms','bathrooms','surface_total','surface_covered','price']].describe()

,rooms,bedrooms,bathrooms,surface_total,surface_covered,price
count,258729.000000,332720.000000,736201.000000,308817.000000,2.592130e+05,8.696500e+05
mean,3.155240,2.821150,2.555119,1041.880353,1.042162e+04,5.162135e+08
std,1.776416,12.978142,1.476658,7412.213312,2.973033e+06,2.464838e+09
min,1.000000,0.000000,1.000000,-36.000000,1.000000e+00,0.000000e+00
25%,2.000000,2.000000,2.000000,66.000000,6.600000e+01,2.800000e+06
50%,3.000000,3.000000,2.000000,100.000000,1.000000e+02,1.900000e+08
75%,3.000000,3.000000,3.000000,210.000000,1.960000e+02,4.600000e+08
max,40.000000,6820.000000,20.000000,200000.000000,1.419500e+09,8.500000e+11